/* 首页-推荐 */
#douyin-right-container {
  position: relative;
}
#douyin-right-container>.home-recommend-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  background: transparent;
  z-index: 9999;
}